apiVersion: v1
kind: Namespace
metadata:
  name: vulnerable-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulnerable-app
  namespace: vulnerable-demo
  labels:
    app: vulnerable-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vulnerable-app
  template:
    metadata:
      labels:
        app: vulnerable-app
    spec:
      containers:
        - name: vulnerable-app
          image: 10.100.21.12/gantengdankece/log4shell-vulnerable-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-Dcom.sun.jndi.ldap.object.trustURLCodebase=true"
---
apiVersion: v1
kind: Service
metadata:
  name: vulnerable-app
  namespace: vulnerable-demo
spec:
  type: NodePort
  selector:
    app: vulnerable-app
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
